<div class="container">
    <div class="col">
        <div class="row mt-3 mb-3">
            <h3>Education</h3>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                Bachelor of Science in Computer Science
            </div>
            <div class="card-body">
                <h5 class="card-title">Washington State University</h5>
                <ul>
                    <li>GPA: 3.8 / 4.0; President’s Honor Roll</li>
                    <li><i>Communications Director, Young Democrats</i></li>
                </ul>
            </div>
        </div>
    </div>
</div>
