<div class="container">
    <div class="col">
        <div class="row mt-3 mb-3">
            <h3>Experience</h3>
        </div>

        <div class="card mb-3">
            <div class="card-header">
              IT Software Engineer
            </div>
            <div class="card-body">
                <h5 class="card-title">Micron Technologies | Boise, ID</h5>
                <ul>
                    <li>Lead team effort to modernize products and cut down on technical debt.</li>
                    <li>Identify, design, develop, and test programs and user applications to satisfy client needs.</li>
                    <li>Make use of the appropriate programming tools for tasks such as Angular for web development, Python for
                        automation scripts, and C# for Windows Forms.</li>
                    <li>Utilize API’s and backend databases to create responsive applications populated with dynamic data.</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
              IT Software Engineer Intern
            </div>
            <div class="card-body">
                <h5 class="card-title">Micron Technologies | Boise, ID</h5>
                <ul>
                    <li>Trained to become team subject matter expert on new tools in the company's plans.</li>
                    <li>Used Angular framework to design and develop web pages.</li>
                    <li>Replaced legacy applications used within the company with modern solutions.</li>
                    <li>Worked with a mentor to learn the company’s workflow and best practices.</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                Computer Science Tutor
            </div>
            <div class="card-body">
                <h5 class="card-title">VCEA Tutoring Center, Washington State University | Pullman, WA</h5>
                <ul>
                    <li>Assisted students in-person and remotely with subject material and helped build their understanding of Computer Science and Software Engineering principles.</li>
                    <li>Collaborated with university advisors and faculty to improve course material to better facilitate student learning.</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                Math Tutor and Calculus Teaching Assistant
            </div>
            <div class="card-body">
                <h5 class="card-title">Math Learning Center, Washington State University | Pullman, WA</h5>
                <ul>
                    <li>Supported students with subject material and reviewed coursework during office hours.</li>
                    <li>Assessed student assignments for quality, assigned grades, and proctored exams.</li>
                    <li>Provided weekly feedback on homework assignments.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
