<div class="container">
    <div class="col">
        <div class="row mt-3 mb-3">
            <h3>Skills</h3>
        </div>

        <div class="card mb-3">
            <div class="card-header">
              Object Oriented Languages
            </div>
            <div class="card-body">
                <ul>
                    <li>C#</li>
                    <li>Java</li>
                    <li>Swift</li>
                    <li>Python</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
              Web Development
            </div>
            <div class="card-body">
                <h5 class="card-title">Angular</h5>
                <ul>
                    <li>TypeScript</li>
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
              Other
            </div>
            <div class="card-body">
                <ul>
                    <li>SQL</li>
                    <li>Git</li>
                    <li>Agile Methodology</li>
                </ul>
            </div>
        </div>
    </div>
</div>
